.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .options {
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-align: center;
    width: 60%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      list-style: none;

      li {
        color: white;
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: 3px solid grey;
        border-radius: 3px;
        cursor: pointer;
      }

      li:hover {
        border-bottom: 3px solid rgb(0, 166, 255);
        transition: 1s;
      }
    }
  }
}
